- #This file is /app/views/maps/_map.html.haml
%div{:class => "row"}
  %div{:class => "col-md-12", :id => "map"}
    %h2= map.name
    %table{:class => "map"}
      %tbody{:class => "mapBody"}
        - height = 32
        - width = 24
        - height.times do |row|
          %tr{:class => "mapRow"}
            - width.times do |column|
              %td{:class => "mapCol"}
                - if @grid[row][column]== :wall
                  - if row < height -1 && @grid[row+1][column]== :open
                    = image_tag(@terrain_tile, size: "32x32")
                  - elsif column < width -1 && @grid[row][column + 1]== :open
                    = image_tag(@terrain_tile, size: "32x32")
                  - else
                    = image_tag(@unplayable_tile, size: "32x32")
                - else
                  = image_tag("tiles/cells/tilePlayable.png", size: "32x32")
