%div{:class => "container", :id => "parmsContainer"}
  = form_tag adventures_path do
    %div{:class => "row"}
      %div{:class => "col-md-6"}
        %div{:class => "form-group"}
          = label :adventure, :title, 'Title'
          = text_field :adventure, :title, {:class => "form-control", :id => "AdventureTitle",
                 :name => "adventure[title]", :value => "Super Quest"}
        %div{:class => "form-group"}
          = label :adventure, :plot, 'Plot'
          = text_field :adventure, :plot, {:class => "form-control", :id => "AdventurePlot",
                 :name => "adventure[plot]", :value => "Once Upon a Time..."}
        %div{:class => "form-group"}
          %label{:for => "PlayerCount"}Player Count
          %input{:type => "number", :class => "form-control", :id => "PlayerCount",
                 :name => "adventure[party_size]", :value => "4", :min => "1"}
        %div{:class => "form-group"}
          %label{:for => "PlayerLevel"}Average Player Level
          %input{:type => "number", :class => "form-control", :id => "PlayerLevel",
                 :name => "adventure[cr]", :value => "1", :min => "1"}
      %div{:class => "col-md-6"}
        %div{:class => "form-group"}
          = label :map, :name, 'Location Name'
          = text_field :map, :name, {:class => "form-control", :id => "LocationName",
                 :name => "map[name]", :value => "Frostfall Forest"}
        %div{:class => "form-group"}
          = label :map, :climate, 'Climate'
          = text_field :map, :climate, {:class => "form-control typeahead", :id => "Climate",
                 :name => "map[climate]", :value => "Any",
                 'data-query' => "/characters", 'data-name' => "climate", 'data-parms' => "#parmsContainer"}
        %div{:class => "form-group"}
          = label :map, :terrain, 'Terrain'
          = text_field :map, :terrain, {:class => "form-control typeahead", :id => "Terrain",
                 :name => "map[terrain]", :value => "Forest",
                 'data-query' => "/characters", 'data-name' => "terrain", 'data-parms' => "#parmsContainer"}
      %div{:class => "row"}
        %div{:class => "col-md-12"}
          = submit_tag 'Generate!', {:class => "btn btn-success pull-right"}
          = link_to 'Reset', adventures_path, {:class => "btn btn-default pull-right"}