-# This file is app/views/maps/encounters.html.haml
%html
  %head
    = stylesheet_link_tag 'bootstrap', 'media' => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'bootstrap-theme', 'media' => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'jquery', 'data-turbolinks-track' => true
    = javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true
  %body
  %div{:class => "container"}
    %div{:class => "row"}
      %div{:class => "col-md-6"}
        %div{:class => "form-group"}
          %label{:for => "PlayerCount"}Player Count
          %input{:type => "number", :class => "form-control", :id => "PlayerCount",
                 :name => "PlayerCount", :placeholder => "4", :min => "1"}
        %div{:class => "form-group"}
          %label{:for => "PlayerLevel"}Player Level
          %input{:type => "number", :class => "form-control", :id => "PlayerLevel",
                 :name => "PlayerLevel", :placeholder => "1", :min => "1"}
      %div{:class => "col-md-6"}
        %div{:class => "form-group"}
          %label{:for => "Climate"}Climate
          %input{:type => "text", :class => "form-control", :id => "Climate",
                 :name => "Climate", :placeholder => "Temperate"}
        %div{:class => "form-group"}
          %label{:for => "Terrain"}Terrain
          %input{:type => "text", :class => "form-control", :id => "Terrain",
                 :name => "Terrain", :placeholder => "Forest"}
    %div{:class => "row"}
      %div{:class => "col-md-12"}
        %button{:type => "button", :class => "btn btn-success pull-right"}= link_to 'Generate!', encounters_path
        %button{:type => "button", :class => "btn btn-default pull-right"} Reset
        %button{:type => "button", :class => "btn btn-default pull-right"}= link_to 'Maps', maps_path
        %button{:type => "button", :class => "btn btn-default pull-right"}= link_to 'Adventures', adventures_path
